#wpis {
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 75px;
  margin-top: 75px;
}
#zapowiedz {
text-align: justify;
margin-left: 200px;
margin-right: 200px;
}


#data {
text-align: right;
margin-right: 200px;
margin-right: 200px;
}







